.navbar navbar-light bg-light {
    background-color:orange;
    color:white;
}
.jumbotron {
    background-image:url("otto.jpeg");
    background-repeat:none;
    color:white;
}

.navbar-brand {
    color:orange;
}
h1 {
    color:orange;
}